USE [MT]
GO
/****** Object:  Table [dbo].[MOXSIR]    Script Date: 09/09/2017 16:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOXSIR](
	[idx] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
